*, body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.controls{
    height: 8vh;
    padding: 20px;
    background: darkgray
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
}
.content img, .content video {
    width: auto;
    height: 90%;
    position: fixed; 
    cursor: pointer; 
}

/* loading styles */
.loader{
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    top: 0;
    z-index: 100;
    text-align: center;
    padding: 45vh 0 0 0;
    transition: opacity 2s;
}
.hidden-content{
    display: none;
    
}